
.modal {
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    top: 0;
    right: 0;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.modal__inner {
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}

.modal__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 40px 10px 10px 10px;
    position: relative;
    border-radius: 5px;
    transition: all 0.8s ease 0s;
    opacity: 1;
}

.modal__image img {
    max-height: 80vh;
    border-radius: 5px;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}